//  -- FONTS -- //
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700,800|Playfair+Display:400,700,900|Roboto:300,400,500,700,900&display=swap');

// -- SNIPPETS -- //
@import "./components/Header/Header";
@import "./components/Home/Home";
@import "./components/ShortenerTool/ShortenerTool";
@import "./components/Menu/Menu";

// -- RESET -- //
html, body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

// -- BASE SETUP -- //
body {
  font-size: 1em;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Be Vietnam', sans-serif;
  font-family: 'Playfair Display', serif;
  text-rendering: optimizeLegibility;
  background: #FFFFFF;
  height: 100vh;
  text-rendering: optimizeLegibility;
}